*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    padding: 10px;
    background:#2f3640;
    align-items: center;
  }
  .cap1{
    color:red;
    font-size: 25px;
  }
  nav h1{
    color: white;
  font-weight: 500;
  margin-left: 5px;
  }
  nav label{
    color: white;
    margin: 0 0 0 30px;
    font-size: 17px;
    cursor: pointer;
  }
  nav label:hover{
    color: #95a5a6;
  }
  .nav-link{
    flex-basis: 50%;
  display: flex;
  align-items: center;
  }
  .login{
    display: flex;
    justify-content: right;
    margin-left: auto;
    align-items: center;
    flex-basis: 24%;
  }
  .fa-sort-down{
    color:white;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
  }
  .user-img{
    width: 11%;
    border-radius: 50%;
    margin: 0 10px;
  }
  .drropdown{
    display: inline-block;
    position: relative;
    padding:5px;
  }
  .dropdown-content{
    display: none;
    position:absolute;
    background:white;
    right: 0;
    z-index: 5;
    color:black;
    padding:10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top:5px;
    margin-right: 5px;
    min-width: 130px;

  }
  .dropdown-content a{
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;

  }
  .dropdown-content a:hover {
     background-color: #f1f1f1;
  }
  .drropdown:hover .dropdown-content{
     display:block;
  }
  .fa-user{
    margin-right: 12%
  }
  .fa-sign-out-alt{
    margin-right: 12%;
  }
  
  .news{
    background: #80808026;
    width: 98%;
    margin: auto;
    margin-top: 2%;
    padding-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .heading{
    display: flex;
  }
  .heading img{
    width: 7%;
  }

  .container{
      display: flex;
      width: 98%;
      margin: auto;
      margin-top:1%;
      justify-content: space-between;
      margin-bottom: 2%;
  }
  .side-nav{
    background: #80808026;
    padding: 1%;
    border-radius: 7px;
    flex-basis: 19%;
    border: 1px solid gray;
}
.side-nav a{
  text-decoration: none;
  color: blue;
}
.side-nav label{
  font-weight: 600;
  letter-spacing: 0.7px;
}
.nav-p1{
  margin-top: 5%;
}
.nav-p1 .fa-angle-down{
  margin-right: 2%;
  padding-top: 1.5px
}
.side-nav-items{
  margin: 4px 0 0 10px;
  font-size:15px
}
.nav-p2 .fa-home{
  margin-right: 3%;
}
.nav-p3{
  margin-left: 2%;
}
.nav-p3 span{
  margin-right: 4%;
 font-size: 16px;
}
.nav-p4{
  margin-left: 7%;
  margin-top: 5px;
}
.nav-p4 .cap2{
  margin-right: 3%;
}
.nav-p4:hover{
  text-decoration: underline;
  color:darkblue;
}
.course-container {
  width: 80%;
  background: #80808026;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  position:relative;
  
}
.course-container p:first-child{
  margin-left: 9px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.courses {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  margin-right: 9px;
  grid-gap: 20px;
}

.courses a {
  box-shadow: 4px 4px 4px #888;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin-left:2%;
  text-decoration: none;
  color: black;
  margin-top: 8%;
}

.color {
  width: 100%;
  height: 140px;
  background-size:cover;
  border-radius: 10px 10px 0 0;
}
.link1{
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 15px;
}
.link2{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 15px;
}
.link1{
  color: blue;
  text-decoration: none;
}
.link1:hover{
  color: darkblue;
  text-decoration: underline;
}
.link2{
  color: blue;
  text-decoration: none;
}
.link2:hover{
  color: darkblue;
  text-decoration: underline;
}
