<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage Website</title>
    <link rel="stylesheet" href="/static/collage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <script defer src="http://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>
    <div class="container3">
        <div class="nav">
            <img src="/static/clgimg/logo.png">
            <div class="nava" id="navlinks">
                <a><i class="fa fa-times i" onclick="hideMenue()"></i></a>
                <a href="/collageinterface">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/collagecourse">COURSE</a>
                <a href="/blog">BLOG</a>
                <a href="/contact">CONTACT</a>
            </div>
            <i class="fa fa-bars i" onclick="showMenue()"></i>
        </div>
        <div class="text">
            <h2> Our Certificate & Online Programs For 2021</h2>

        </div>
    </div>

    <div class="course-page">
        <div class="course-page-content">
            <img src="/static/clgimg/certificate.jpg">
        </div>
        <div class="course-page-content">
            <p>Post Categories</p>
            <div class="para">
                <div style="margin-top: 20px;">
                    <p>Business Analytical</p>
                    <P>Data Science</P>
                    <p>Machine Learning</p>
                    <p>Computer Science</p>
                    <p>AutoCAD</p>
                    <p>Journalism</p>
                    <p>Commerce</p>
                </div>
                <div style="margin-top: 20px;">
                    <p>21</p>
                    <p>28</p>
                    <p>15</p>
                    <p>34</p>
                    <p>42</p>
                    <p>22</p>
                    <p>30</p>
                </div>
            </div>
        </div>

    </div>

    <div class="course-page-content2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Lorem ipsum,
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit
            dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit.
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit
            dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit
            dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit.

        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Lorem ipsum, dolor sit amet consectetura
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

        <div class="course-comment">
            <h4>Leave a comment</h4>
            <form>
                <input type="text" placeholder="Enter Name">
                <input type="email" placeholder="Enter Email">
                <input type="text" placeholder="Your comment" style="height: 85px;">
                <button type="submit">POST COMMENT</button>
            </form>
        </div>
    </div>




    <div class="footer">
        <h3>About Us</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <i class="fab fa-facebook-f fi"></i>
        <i class="fab fa-twitter fi"></i>
        <i class="fab fa-instagram fi"></i>
        <i class="fab fa-linkedin-in fi"></i>
        <p>Made with <i class="far fa-heart" style="color: #f34433;"></i> by Nivesh Rajput</p>
    </div>


    <script>
        var navlinks = document.getElementById("navlinks")
        function hideMenue() {
            navlinks.style.display = "none";
        }
        function showMenue() {
            navlinks.style.display = "block";
        }
    </script>

</body>

</html>