<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage Website</title>
    <link rel="stylesheet" href="/static/collage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <script defer src="http://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>
    <div class="container1">
        <div class="nav">
            <img src="/static/clgimg/logo.png">
            <div class="nava" id="navlinks">
                <a><i class="fa fa-times i" onclick="hideMenue()"></i></a>
                <a href="/collageinterface">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/collagecourse">COURSE</a>
                <a href="/blog">BLOG</a>
                <a href="/contact">CONTACT</a>
            </div>
            <i class="fa fa-bars i" onclick="showMenue()"></i>
        </div>
        <div class="text">
            <h1> World's Biggest University</h1>
            <p>Making website is now one of the consist thing in the world. You just need to learn
                HTML,CSS,<br>Javascript and you are good to go. </p>
            <a>Visit Us to know more</a>
        </div>
    </div>

    <div class="course">
        <h1>Courses We Offer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class="row">
        <div class="row-content">
            <h1>Intermediate</h1>
            <p>Lorem ipsum, dolor sit amet <br>consectetur adipisicing elit. deserunt,<br> repellendus impedit
                cupiditate quasi itaque illum quae</p>
        </div>
        <div class="row-content">
            <h1>Degree</h1>
            <p>Lorem ipsum, dolor sit amet<br> consectetur adipisicing elit. Architecto<br> molestias reiciendis
                perferendis quo ex sapiente deserunt</p>
        </div>
        <div class="row-content">
            <h1>Post Graduation</h1>
            <p>Lorem ipsum, dolor sit amet<br> consectetur adipisicing elit. Architecto<br> molestias reiciendis
                perferendis quo ex sapiente deserunt</p>
        </div>
    </div>

    <div class="campus">
        <h1>Our Global Campus</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class="crow">
        <div class="crow-content">
            <img src="/static/clgimg/london.png">
            <div class="layer">
                <h3>INDORE</h3>
            </div>
        </div>
        <div class="crow-content">
            <img src="/static/clgimg/newyork.png">
            <div class="layer">
                <h3>NOIDA</h3>
            </div>
        </div>
        <div class="crow-content">
            <img src="/static/clgimg/washington.png">
            <div class="layer">
                <h3>BHOPAL</h3>
            </div>
        </div>
    </div>

    <div class="campus">
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class="frow">
        <div class="frow-content">
            <img src="/static/clgimg/library.png">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
        <div class="frow-content">
            <img src="/static/clgimg/basketball.png">
            <h3>Largest Play Ground</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
        <div class="frow-content">
            <img src="/static/clgimg/cafeteria.png">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
    </div>


    <div class="course">
        <h1>What Our Student Says</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="srow">
        <div class="srow-content">
            <img src="/static/clgimg/user2.jpg">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
                cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h2>Nivesh Rajput</h2>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="srow-content">
            <img src="/static/clgimg/user1.jpg">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
                cupiditate quasi itaque illum quae Lorem deserunt, repellendus impedit ipsum dolor sit amet, consectetur
                adipisicing elit.</p>
            <h2>Aayushi Gupta</h2>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

    <div class="container2">
        <h2>Enroll For Various Online Courses<br> Anywhere From The World
        </h2>
        <a>CONTACT US</a>
    </div>

    <div class="footer">
        <h3>About Us</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. deserunt, repellendus impedit
            cupiditate quasi itaque illum quae Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <i class="fab fa-facebook-f fi"></i>
        <i class="fab fa-twitter fi"></i>
        <i class="fab fa-instagram fi"></i>
        <i class="fab fa-linkedin-in fi"></i>
        <p>Made with <i class="far fa-heart" style="color: #f34433;"></i> by Nivesh Rajput</p>
    </div>


    <script>
        var navlinks = document.getElementById("navlinks")
        function hideMenue() {
            
            navlinks.style.display = "none";
        }
        function showMenue() {
            navlinks.style.display = "block";
        }
    </script>

</body>

</html>